@use "../variables";
@use "../mixins";

.banner {
	border: none;
	color: var(--secondary-color);
	padding: 200px 0;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	@media (max-width: 1440px) {
		padding: 145px 0;
	}

	@media (max-width: 1000px) {
		padding: 100px 0;
	}

	@media (max-width: 500px) {
		padding: 50px 0;
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary-color) 0% 0% no-repeat;
		mix-blend-mode: multiply;
		opacity: 0.45;
	}

	&__wrapper {
		text-align: center;
		padding: 0 95px;
		position: relative;
		z-index: 1;

		@media (max-width: 768px) {
			padding: 0 50px;
		}

		@media (max-width: 500px) {
			padding: 0 20px;
		}

		h1 {
			font-weight: variables.$font-weight-semiBold;
			@include mixins.fontSize(65px);
			margin-bottom: 30px;
		}

		.content {
			color: var(--secondary-color);
			@include mixins.fontSize(30px);
		}

		.links {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			justify-content: center;
		}
	}
}
