@use "../variables";
@use "../mixins";

.header {
	border-bottom: 1px solid var(--primary-color);
	padding: 30px 0;
	margin-bottom: 40px;
	position: relative;

	&__navBar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@media (max-width: 1050px) {
			justify-content: space-between;
		}

		.logo {
			width: 185px;
			height: 45px;

			svg	{
				width: 100%;
				height: 100%;
			}

			@media (max-width: 1250px) {
				width: 130px;
				height: 32px;
			}

			@media (max-width: 400px) {
				width: 90px;
				height: 21px;
			}
		}

		&__navWp {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			border-right: 1px solid var(--primary-color);
			padding-right: 30px;
			margin-right: 30px;
			margin-left: 60px;

			@media (max-width: 1450px) {
				padding-right: 15px;
				margin-right: 15px;
				margin-left: 30px;
			}

			@media (max-width: 1050px) {
				display: none;
			}

			.left {
				.menu {
					display: flex;
					flex-wrap: wrap;
					gap: 40px;

					@media (max-width: 1450px) {
						gap: 20px;
					}

					a {
						@include mixins.fontSize(22px);
						font-weight: variables.$font-weight-medium;
						color: var(--primary-color);
						padding-bottom: 3px;
						position: relative;

						&:focus::before, &:hover::before {
							visibility: visible;
							width: 100%;
						}

						&::before {
							content: "";
							position: absolute;
							width: 0;
							height: 1px;
							bottom: 0;
							left: 0;
							background-color: var(--primary-color);
							visibility: hidden;
							transition: all 0.3s ease-in-out;
						}
					}
				}
			}

			.right {
				.menu {
					display: flex;
					flex-wrap: wrap;
					gap: 40px;

					@media (max-width: 1450px) {
						gap: 20px;
					}

					a {
						@include mixins.fontSize(22px);
						font-weight: variables.$font-weight-medium;
						color: var(--primary-color);
						padding-bottom: 3px;
						position: relative;

						&:focus::before, &:hover::before {
							visibility: visible;
							width: 100%;
						}

						&::before {
							content: "";
							position: absolute;
							width: 0;
							height: 1px;
							bottom: 0;
							left: 0;
							background-color: var(--primary-color);
							visibility: hidden;
							transition: all 0.3s ease-in-out;
						}
					}
				}
			}
		}

		&__extra {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			svg {
				width: 22px;
				color: var(--primary-color);
			}
			button {
				padding: 0;
				border: none;
				background: transparent;
			}
		}

		&__menuIcon {
			display: none;
			padding: 0;
		}

		#button-menu {
			display: none;
			cursor: pointer;
			transition: transform 0.3s ease;

			&.open {
				.hamburger-icon {
					display: none;
				}

				.cross {
					display: block;
				}
			}

			@media (max-width: 1050px) {
				display: block;
				color: var(--primary-color);
				transition: 0.3s ease color;
				background-color: transparent;
				border: none;

				svg {
					width: 35px;
				}
			}
		}
	}
}

#menu-responsive {
	flex: 1;

	@media (max-width: 1050px) {
		display: none;
		position: absolute;
		top: 100%;
		right: -200%;
		z-index: 9999999999;
		transition: all ease 0.3s;
		width: 100vw;
		height: 100vh;
		background: var(--primary-color);
		color: var(--secondary-color);
		overflow: auto;
		padding-left: 4%;
		padding-right: 4%;

		&.active {
			right: -4%;
			display: block;

			.header__navBar__navWp {
				display: flex;
				flex-direction: column;
				gap: 20px;
				margin-right: auto;
				margin-left: auto;
				padding: 0;
				width: fit-content;
				margin-top: 20vh;

				.left .menu,
				.right .menu {
					flex-direction: column;

					li {
						text-align: center;
					}
				}

				a {
					color: var(--secondary-color);
				}
			}
		}
	}
}

.language-switcher {
	display: none;
	position: absolute;
	top: 100%;
	right: -200%;
	z-index: 9999999999;
	transition: right ease 0.3s;
	width: 15vw;
	height: auto;
	background: var(--primary-color);
	color: var(--secondary-color);
	overflow: auto;
	padding: 40px;
	color: var(--secondary-color);

	&.select-language {
		right: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 20px;
	}

	a {
		color: var(--secondary-color);
		border-bottom: 1px solid transparent;
		transition: border-bottom 0.4s ease;
		width: fit-content;

		&:hover,
		&:focus {
			border-bottom: 1px solid var(--secondary-color);
		}
	}
}
