@use "../variables";
@use "../mixins";

#order {
	h1 {
		margin-bottom: 40px;
	}

	section {
		padding: 0;
		border: none;
	}

	form {
		.button-form {
			button {
				border: none;
			}
		}

		.fields {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 20px;
			align-items: end;
			gap: 30px;

			.field {
				width: calc((100% - 60px) / 2);

				@media (max-width: 550px) {
					width: 100%;
				}
			}

			input[type="text"],
			input[type="email"],
			input[type="number"] {
				background-color: transparent;
				border: none;
				outline: none;
				border-radius: 0;
				cursor: pointer;
				margin: 0;
				appearance: none;
				-webkit-appearance: none;
				border-bottom: 1px solid var(--primary-color);
				color: var(--primary-color);
				font-family: variables.$font-family-barlow;
				font-weight: variables.$font-weight-medium;
				@include mixins.fontSize(20px);
				width: 100%;
			}
		}

		.field label,
		.width-1 label {
			font-weight: variables.$font-weight-medium;
			@include mixins.fontSize(20px);
		}

		textarea {
			background-color: transparent;
			border: none;
			outline: none;
			border-radius: 0;
			cursor: pointer;
			margin: 0;
			appearance: none;
			-webkit-appearance: none;
			border-bottom: 1px solid var(--primary-color);
			color: var(--primary-color);
			font-family: variables.$font-family-barlow;
			font-weight: variables.$font-weight-medium;
			@include mixins.fontSize(20px);
			width: 100%;
			height: 60px;
			resize: vertical;
		}
	}

	.lastorder {
		margin-top: 30px;
		margin-bottom: 30px;

		@media (max-width: 1440px) {
			padding-left: 4%;
			padding-right: 4%;
		}

		.background {
			background-color: var(--primary-color);
			color: var(--secondary-color);
			padding: 30px;

			@media (max-width: 1440px) {
				padding-left: 4%;
				padding-right: 4%;
			}
		}

		h2 {
			@include mixins.fontSize(40px);
			margin-bottom: 0.5em;
		}

		.content {
			@include mixins.fontSize(22px);
			color: var(--secondary-color);
			margin-bottom: 1em;
		}

		form {
			padding-right: 15%;

			@media (max-width: 550px) {
				padding-right: 7.5%;
			}

			.checkbox {
				margin-bottom: 30px;

				label {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					align-items: center;

					span {
						flex: 1;
					}
				}
			}

			.width-1 {
				margin-bottom: 40px;
			}

			.button-primary {
				border: 1px solid transparent;
				transition: border 0.4s ease;

				&:hover,
				&:focus {
					border: 1px solid var(--secondary-color);
				}
			}

			label {
				@include mixins.fontSize(14px);
			}

			input,
			textarea {
				background-color: transparent;
				border: none;
				outline: none;
				border-radius: 0;
				cursor: pointer;
				margin: 0;
			}

			input[type="text"],
			input[type="email"],
			input[type="number"],
			textarea {
				appearance: none;
				-webkit-appearance: none;
				border-bottom: 1px solid var(--secondary-color);
				color: var(--secondary-color);
				font-family: variables.$font-family-barlow;
				font-weight: variables.$font-weight-medium;
				@include mixins.fontSize(20px);
				width: 100%;
			}

			span {
				margin: 0;
			}
		}
	}

	.neworder {
		@media (max-width: 1440px) {
			padding-left: 4%;
			padding-right: 4%;
		}

		h2 {
			@include mixins.fontSize(40px);
			margin-bottom: 1em;
		}

		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: start;

			.left {
				width: calc(65% - 15px);

				@media (max-width: 1350px) {
					width: 100%;
				}

				.products {
					color: var(--primary-color);

					label {
						@include mixins.fontSize(30px);
					}

					&-list {
						margin-bottom: 50px;

						.product {
							border-bottom: 1px solid var(--primary-color);
							padding: 25px 0;
							overflow: hidden;
							position: relative;
							max-height: 200px;
							transition: max-height 0.4s ease;
							cursor: pointer;

							&.expanded {
								max-height: 600px;

								.add {
									display: none;
								}

								.icon-minus {
									display: block;
								}

								.more {
									margin-top: 10px;
									height: auto;
									display: flex;
									flex-wrap: wrap;
									gap: 60px;
								}
							}

							&__top {
								display: flex;
								flex-wrap: wrap;
								justify-content: space-between;
								align-items: center;

								h3 {
									width: calc(100% - 30px - 30px);
									@include mixins.fontSize(25px);
								}

								svg {
									width: 30px;
								}

								.icon-minus {
									display: none;
								}
							}

							.more {
								display: none;
								height: 0px;
								margin-top: 0;
								transition: height 0.4s ease, margin-top 0.4s ease;

								.big-wrapper,
								.medium-wrapper {
									@media (max-width: 350px) {
										flex: none;
										width: 100%;
									}

									label {
										display: flex;
										flex-wrap: wrap;
										align-items: center;
										gap: 5px;
										@include mixins.fontSize(18px);
										font-weight: variables.$font-weight-regular;
										margin-bottom: 5px;
										width: fit-content;
									}
								}
							}
						}
					}

					.number-input {
						background-color: var(--order-color);
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						gap: 10px;
						width: 90px;
						padding: 3px;

						button {
							border: none;
							padding: 0;
							margin: 0;

							svg {
								width: 20px;
								display: block;
							}
						}

						input[type="number"]::-webkit-outer-spin-button,
						input[type="number"]::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}

						input {
							width: 20%;
							background-color: var(--order-color);
							border: none;
							padding: 0;
							margin: 0;
							color: var(--primary-color);
							font-family: variables.$font-family-barlow;
							@include mixins.fontSize(18px);
							flex: 1;
						}
					}

					.return {
						margin-bottom: 50px;

						h3 {
							@include mixins.fontSize(30px);
						}

						.returns {
							margin-top: 10px;
							height: auto;
							display: flex;
							flex-wrap: wrap;
							gap: 60px;

							.big-wrapper,
							.medium-wrapper {
								@media (max-width: 350px) {
									flex: none;
									width: 100%;
								}
								label {
									@include mixins.fontSize(18px);
									font-weight: variables.$font-weight-regular;
									width: fit-content;
								}
							}
						}
					}
				}

				.width-1 {
					margin-bottom: 50px;

					label {
						@include mixins.fontSize(30px);
						font-weight: variables.$font-weight-regular;
					}

					textarea {
						border: none;
						background-color: var(--order-color);
						font-weight: variables.$font-weight-regular;
						padding: 10px;
						height: 126px;
					}
				}
			}

			.cart {
				width: calc(35% - 15px);
				background-color: var(--order-color);
				padding: 30px;

				@media (max-width: 1440px) {
					padding: 30px 20px;
				}

				@media (max-width: 1350px) {
					width: 100%;
					margin-bottom: 30px;
					padding: 30px 4%;
				}

				h2 {
					@include mixins.fontSize(30px);
					margin-bottom: 1em;
				}

				.empty {
					margin-bottom: 20px;
				}

				.cart-item {
					border-bottom: 1px solid var(--primary-color);
					padding-bottom: 20px;
					margin-bottom: 20px;

					h3 {
						@include mixins.fontSize(25px);
						margin-bottom: 0.5em;
					}

					.results {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						.big-bottle,
						.medium-bottle {
							width: 45%;

							h4 {
								font-weight: variables.$font-weight-medium;
							}
						}
					}
				}

				button {
					@include mixins.fontSize(20px);
					font-weight: variables.$font-weight-medium;
					padding-left: 22px;
				}

				.buttons {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					gap: 30px;

					.button-form {
						button {
							.icon {
								width: 30px;
								height: 30px;

								svg {
									width: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}
