{% extends 'layout/base.twig' %}

{% block body %}
	<main id="page" class="main wrapper {{ pageTemplate }}">
		<h1 class="main-title">{{ post.title }}</h1>
		<div class="content">{{ post.content }}</div>
	</main>
{% endblock %}
